@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: whitesmoke;

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}

/* input  */
.input-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-radius: 60px;
    padding: 5px 10px;
    background-color:white;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.input-text{
flex: 1;
border: 0;
padding: 5px 20px;
font-size: 20px;
color:black;
}

.input-text:focus-visible{
    outline: none;
    border: none;
}

/* serach button  */
.search-btn {
 border: 0;
 border-radius: 50%;
padding: 0.6rem 0.7rem;
background-color: #58629b;
cursor: pointer;


}
.search-btn:hover{
    opacity: 0.8;
}
.search-btn:active{
    opacity: 0.4;
}

.fa-magnifying-glass{
  font-size: 30px;
  color:white;
  background-color: #58629b;
  cursor: pointer;

}

/* loader  */
.loader{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;

}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

/* image-container */

.image-container{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-right: 20px;
    margin-bottom: 25px;
    width: 300px;
}




/* media query  */
@media screen and (max-width:700px){
    h1{
        font-size: 30px;
    }
    
    .input-container{
        max-width: 400px;
       
    }
    .image-container img{
   margin-left: 25px;
  
    }
       
.input-text{
   
    padding: 5px 0px;

    }
}

@media screen and (max-width:450px){
    .input-container{
        max-width: 300px;
       
    }
}


       